sphinx==9.0.4
sphinx-rtd-theme==3.0.2
sphinxcontrib-bibtex==2.6.5
setuptools==80.9.0
myst_parser==4.0.1
sphinx_subfigure==0.2.4
bayesian-optimization==3.1.0
scikit-optimize==0.10.2
numpy==2.4.0
scipy==1.16.3
joblib==1.5.3
scikit-learn==1.8.0
matplotlib==3.10.8
